.card {
    cursor: pointer;
    transition-property: transform;
    transition-duration: 0.5s;
    min-height: 380px;
}

.card:hover {
    transform: scale(1.02);
}

.card__div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.card__description {
    margin-top: 20px;
}
